/*common css start*/
body{
	padding: 0;
	margin: 0;
font-family: sans-serif;
}
/*common css end*/
/*header start*/
header{

}
.wrapper{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
	overflow: hidden;

}
.logo{
/*border: 1px solid black;*/
width: 10%;

float: left;
}
.logo img{
width: 100%;

}
.menu{
/*border: 1px solid black;*/
width:45%; 
float:right; 
}
.menu ul {
/*overflow: hidden;*/
float: right;
}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
	text-decoration: none;
	padding: 0 24px;
	display: inline-block;
}
.menu ul li:last-child a {
	padding-right: 0;
}

/*header end*/
/*banner start*/
.banner{
	/*border: 1px solid red;*/

}
.wrapper2{
	/*border: 1px solid black;*/
	width: 57%;
	margin:0 auto;

}
.b-content{
	/*border: 1px solid green;*/
	text-align: center;

}
.b-heading{
	padding-bottom: 10px;
	margin: 0;
	font-size: 60px;
	color: #0F2656;


}
.b-heading span{
	color: #008AFF;
}
.b-para{
	margin: 0;
	color: #0F2656;


}
.b-image{
	text-align: center;

}


/*banner end*/